.ulFooter {
    gap: 15px;
    padding: 2rem;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.liFooter {
    list-style: none;
}

.sectionMain1 {
    /*border: 2px solid wheat ;*/
    border-radius: 15px;
    box-shadow: 15px 15px 15px white;
    border-left: 1px solid wheat;
    border-top: 1px solid wheat;
    overflow: hidden;

}

.sectionMain2 {
    /*border: 2px solid wheat ;*/
    border-radius: 15px;
    box-shadow: 15px 15px 15px white;
    border-left: 1px solid wheat;
    border-top: 1px solid wheat;
}


.sectionMain3 {
    /*padding: 1rem;*/
    height: max-content;
    margin-left: 50px;
    border-radius: 15px;
    border-left: 1px solid wheat;
    border-top: 1px solid wheat;

    box-shadow: 15px 15px 15px white;
}

.sectionMain4 {
    /*border: 2px solid wheat ;*/
    border-radius: 15px;
    box-shadow: 15px 15px 15px white;
    border-left: 1px solid wheat;
    border-top: 1px solid wheat;
}

.sectionMain5 {
    /*border: 2px solid wheat ;*/
    border-radius: 15px;
    box-shadow: 15px 15px 15px white;
    border-left: 1px solid wheat;
    border-top: 1px solid wheat;

}





.p {
    text-align: justify;
    padding: 1rem;
    color: grey;
    overflow: auto;
    height: 500px;
    line-height: 1.5rem;
}

.p2 {
    text-align: justify;
    color: grey;
    padding: 1rem;
    line-height: 1.5rem;
    /*overflow: auto;*/

}

.h1 {
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: white;
    padding-top: 1rem;
    padding-top: -10rem;
}


.redesFooter {
    width: 25px;
    height: 25px;
    transition: transform 2s, width 2s, height 2s;
}

.redesFooter:hover {
    transform: rotate(360deg);
    width: 150px;
    height: 150px;

}

