.body {

    width: 100%;
    background-color: black;
    

}



.nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding-top: 2rem;
    padding-left: 25px;
    padding-right: 64px;
    width: 100%;
    height: 150px;
    background-color: antiquewhite;

    box-shadow: 0 0 10px 2px wheat;
    border-bottom-right-radius: 15px;
    border-bottom-left-radius: 15px;
    
}

.divInput {
    padding-left: 19%;
}

.input {
    border-radius: 5px;
    border: 0px solid green;
    width: 180px;
    height: 25px;

}

.label {
    margin-right: 1rem;
    color: black;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

}




.ul {
    display: flex;
    flex-direction: row;
    list-style: none;
    gap: 30px;

}

.imgnav {
    width: 120px;
    height: 50px;
    margin-right: 10px;
}


.li__nav {
    text-decoration: none;
}


.li {
    width: 100px;
    height: 50px;
    padding-top: 8px;
    background-color: wheat(173, 165, 165);
    text-align: center;
    border-radius: 15px;
    box-shadow: 2px 2px 2px 2px wheat;
    padding-top: 17px;



}



.div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    

}

.divMain {

    margin-left: 2rem;
    margin-top: 2rem;
    padding-left: 30px;
    display: grid;
    column-gap: 15rem;
    row-gap: 2rem;
   
   


    grid-template-columns: 300px 300px 300px;
    grid-template-rows: 300px 300px;

    grid-template-areas:
        "nota1 nota2 nota3"
        "nota4 nota5 nota3";


}

.imgNoticia {
    width: 200px;
    height: 80px;
    margin-top: 10px;
    padding-top: 1rem;

}

.main {
    min-height: 100vh;


}

.nota1 {
    grid-area: "nota1";
    border: 2px solid pink;
   

}

.nota2 {
    grid-area: "nota2";
    border: 2px solid green;

}

.nota3 {

    grid-area: "nota3";



}

.nota4 {
    grid-area: "nota4";
    border: 2px solid yellow;

}

.nota5 {
    grid-area: nota5;
    border: 2px solid blue;
    background-color: burlywood;


}




.footer {
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
    background-color: antiquewhite;
    width: 100%;
    height: 150px;
    box-shadow: 0 0 10px 2px wheat;
    border-top-right-radius: 5px;
    border-top-left-radius: 5px;

}


/*.divFooter{

}*/
